.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  
.Game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
  .Row {
    display: flex;
    flex-direction: row;
  }

  .Cell {
    width: 20px;
    height: 20px;
    margin: 0.5px;
    background-color: #f5f5f5;
    }
    
    .SnakeBody {
    background-color: coral;
  }
.Checkpoint {
  background-color: gold;
}
.SidePanel {
  margin-left: 50px;
}
.ArrowButton {
  width: 50px;
  margin: 3px;
  height: 50px;
}

.ArrowsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.resetButton {
  width: 100%;
  height: 50px;
}

.GameOver {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  color: coral;
  margin-bottom: 50px;
  height: 30px;
}